# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=brands_db
DB_USERNAME=postgres
DB_PASSWORD=your-database-password

# JWT Configuration
JWT_SECRET_KEY=your-jwt-secret-key
JWT_EXPIRATION=86400000

# AWS S3 Configuration
AWS_S3_BUCKET=brands-bucket-818
AWS_S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
